.product-catalog {
	@include clearfix;
}

.catalog-goods__wrap {

	& .products-item_list, .products-item_row {

		&:first-child {
			border-radius: 5px 5px 0 0;
		}

		&:last-child {
			border-radius: 0 0 5px 5px;
		}
	}
}

/*----------  Thumbnails view  ----------*/
&.products-item_thumbnails {
	@include clearfix;
	width: 233px;
	background: #fbfbfb;
	border-radius: 5px;
	padding: 19px 5px 20px 5px;
	border: 1px solid #dee1e4;
	display: inline-block;
	position: relative;

	&:not(:nth-child(3n)) {
		margin: 0 16px 20px 0;
	}

	&:hover {
		box-shadow: 0 0 8px 1px rgba(0, 0, 0, .3);
		transition: .2s;
	}

	& .products__slideshow {

		&-display {
			margin: auto;
			width: 134px;
			height: 134px;
			border: 1px solid #dee1e4;
			background: $primary-white;
			position: relative;
			display: block;
			border-radius: 3px;
		}

		&-image {
			display: block;
			max-width: 95%;
			max-height: 95%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}

		&-list {
			@include clearfix;
			list-style: none;
			margin: 15px 0 10px 61px;
		}

		&-item {
			display: inline-block;
		}

		&-link {
			@extend .products__slideshow-display;
			width: 34px;
			height: 34px;
			border-radius: 3px;
			margin-bottom: 0;
			position: relative;

			&:hover{
				border-color: $primary-orange;
			}
		}

		&-pic {
			display: block;
			max-width: 95%;
			max-height: 95%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			position: absolute;
		}
	}

	& .products-vendor-code {
		display: none;
	}

	& .products-description {

		&-specification {
			width: 100%;
			font-size: 14px;
			font-family: $font-family-regular;
			line-height: 20px;
			margin-bottom: 10px;

			&__row {
				height: 20px;

				&:nth-child(odd) {
					background-color: #e7e7e7;
				}

				& .spec-key {
					text-align: left;
					width: 1px;
				}

				& .spec-value {
					text-align: right;
					width: 2px;
				}
			}
		}

		&__title {
			font-size: 14px;
			font-family: $font-family-semibold;
			line-height: 20px;
			text-align: center;
			margin-bottom: 30px;
		}

		&__text {
			display: none;
		}

		&__rating {
			@include clearfix;

			& .rating {

				&-stars {
					float: left;
					margin-left: 45px;
					&__item {
						display: inline-block;
						
						&_filled {
							@include sprite($star-filled);
						}

						&_empty {
							@include sprite($star);

						}
					}
				}

				&-amount {
					float: left;
					margin-left: 15px;
					vertical-align: middle;
					text-align: center;
					color: #fbfbfb;
					font-size: 14px;
					font-family: $font-family-semibold;
					line-height: 15px;
					width: 27px;
					background-color: #b5beca;
					border-radius: 7px;
				}
			}
		}
	}

	& .products-cart {
		position: relative;

		&__price {
			font-size: 20px;
			line-height: 20px;
			color: $text-color;
			font-family: $font-family-semibold;
			text-align: center;
			margin-top: 15px;
			margin-bottom: 10px;

			&:after {
				content: '';
				@include sprite($rub);
				position: absolute;
				top: 3px;
				right: 62px;
			}
		}

		&__in-stock {
			float: left;
			color: #7f7f7f;
			font-family: $font-family-bold;
			line-height: 33px;
			font-size: 12px;
			margin-left: 35px;

			&:before {
				content: '';
				@include sprite($stock-indicator);
				position: absolute;
				top: 43px;
				left: 21px;
			}
		}

		&__btn {
			width: 103px;
			vertical-align: middle;
			font-size: 14px;
			line-height: 20px;
			height: 33px;
			background: $primary-orange;
			border-radius: 5px;
			border: none;
			outline: none;
			font-family: $font-family-bold;
			color: $primary-white;
			margin-left: 13px;

			&:hover {
				background: $primary-orange-light;
			}
		}
	}
}


/*----------  Row view  ----------*/


&.products-item_row {
	@include clearfix;
	background: #fbfbfb;
	border: 1px solid #dee1e4;
	display: inline-block;
	position: relative;
	padding: 15px;
	margin: -4px;

	&:hover {
		box-shadow: 0 0 8px 1px rgba(0, 0, 0, .3);
		transition: .2s;
		z-index: 10;
	}

	& .products__main-info {
		float: left;
	}

	& .products__slideshow {
		width: 150px;
		float: left;
		margin: 4px 20px 0 15px;

		&-display {
			margin: auto;
			width: 134px;
			height: 134px;
			border: 1px solid #dee1e4;
			background: $primary-white;
			position: relative;
			display: block;
			border-radius: 3px;
		}

		&-image {
			display: block;
			max-width: 95%;
			max-height: 95%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}

		&-list {
			@include clearfix;
			list-style: none;
			margin: 15px 0 10px 20px;
		}

		&-item {
			display: inline-block;
		}

		&-link {
			@extend .products__slideshow-display;
			width: 34px;
			height: 34px;
			border-radius: 3px;
			margin-bottom: 0;
			position: relative;

			&:hover{
				border-color: orange;
			}
		}

		&-pic {
			display: block;
			max-width: 95%;
			max-height: 95%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			position: absolute;
		}
	}

	& .products-vendor-code {
		line-height: 20px;
		margin-left: 23px;

		&__title {
			float: left;
			color: #7f7f7f;
			font-size: 12px;
			font-family: $font-family-bold;
			margin-right: 5px;
		}

		&__number {
			color: $text-color;
			font-size: 14px;
			font-family: $font-family-semibold;
		}
	}

	& .products-description {
		float: left;
		width: 404px;
		line-height: 20px;

		&-specification {
			display: none;
		}

		&__title {
			font-size: 16px;
			font-family: $font-family-semibold;
			margin-bottom: 30px;
		}

		&__text {
			font-size: 14px;
			font-family: $font-family-regular;
		}

		&__rating {
			@include clearfix;
			margin-left: -42px;
			margin-top: 15px;

			& .rating {

				&-stars {
					float: left;
					margin-left: 45px;
					&__item {
						display: inline-block;
						
						&_filled {
							@include sprite($star-filled);
						}

						&_empty {
							@include sprite($star);

						}
					}
				}

				&-amount {
					float: left;
					margin-left: 15px;
					vertical-align: middle;
					text-align: center;
					color: #fbfbfb;
					font-size: 14px;
					font-family: $font-family-semibold;
					line-height: 15px;
					width: 27px;
					background-color: #b5beca;
					border-radius: 7px;
				}
			}
		}
	}

	& .products-cart {
		position: relative;
		width: 120px;
		float: right;
		border-left: 1px solid #dee1e4;

		&__price {
			font-size: 20px;
			line-height: 20px;
			color: $text-color;
			font-family: $font-family-semibold;
			text-align: center;
			margin-top: 15px;
			margin-bottom: 130px;

			&:after {
				content: '';
				@include sprite($rub);
				position: absolute;
				top: 18px;
				right: 10px;
			}
		}

		&__in-stock {
			float: right;
			color: #7f7f7f;
			font-family: $font-family-bold;
			line-height: 33px;
			font-size: 12px;
			margin-left: 35px;

			&:before {
				content: '';
				@include sprite($stock-indicator);
				position: absolute;
				top: 211px;
				right: 76px;
			}
		}

		&__btn {
			width: 103px;
			vertical-align: middle;
			line-height: 20px;
			font-size: 14px;
			height: 33px;
			background: $primary-orange;
			border-radius: 5px;
			border: none;
			outline: none;
			float: right;
			font-family: $font-family-bold;
			color: $primary-white;
			margin-left: 13px;

			&:hover {
				background: $primary-orange-light;
			}
		}
	}

}

/*----------  List view  ----------*/

&.products-item_list {
	@include clearfix;
	background: #fbfbfb;
	border: 1px solid #dee1e4;
	display: inline-block;
	position: relative;
	padding: 12px 15px 8px 15px;
	margin: -4px;

	&:hover {
		box-shadow: 0 0 8px 1px rgba(0, 0, 0, .3);
		transition: .2s;
		z-index: 10;
	}

	& .products__main-info {
		float: left;
	}

	& .products__slideshow {

		&-display-wrapper{
			display: none;
		}

		width: 115px;
		float: left;

	}

	& .products-vendor-code {
		line-height: 20px;

		&__title {
			float: left;
			color: #7f7f7f;
			font-size: 12px;
			font-family: $font-family-bold;
			margin-right: 5px;
		}

		&__number {
			color: $text-color;
			font-size: 14px;
			font-family: $font-family-semibold;
		}
	}

	& .products-description {
		float: left;
		width: 286px;
		line-height: 20px;
		margin-left: 10px;

		&-specification {
			display: none;
		}

		&__title {
			display: none;
		}

		&__text {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			font-size: 14px;
			font-family: $font-family-regular;
		}

		&__rating {
			display: none;
		}
	}

	& .products-cart {
		position: relative;
		float: right;

		&__price {
			float: left;
			font-size: 20px;
			line-height: 20px;
			color: $text-color;
			font-family: $font-family-semibold;
			text-align: center;
			margin-left: 12px;

			&:after {
				content: '';
				@include sprite($rub);
				position: absolute;
				top: 4px;
				left: 80px;
			}
		}

		&__in-stock {
			float: left;
			color: #7f7f7f;
			font-family: $font-family-bold;
			line-height: 20px;
			font-size: 12px;
			margin-left: 45px;

			&:before {
				content: '';
				@include sprite($stock-indicator);
				position: absolute;
				top: 6px;
				left: 105px;
			}
		}

		&__btn {
			width: 103px;
			vertical-align: middle;
			height: 33px;
			line-height: 20px;
			font-size: 14px;
			background: $primary-orange;
			border-radius: 5px;
			border: none;
			outline: none;
			float: right;
			font-family: $font-family-bold;
			color: $primary-white;
			margin-left: 13px;
			margin-top: -5px;

			&:hover {
				background: $primary-orange-light;
			}
		}
	}
}
