.filter {
	background-color: rgba(255, 255, 255, 0.6);
	border: 1px solid #dee1e4;
	border-radius: 5px;

	&-list {
		list-style: none;

		&-item {
			&:not(:last-child){
				border: 1px solid #dee1e4;
			}


			&__trigger {
				width: 310px;
				font-family: $font-family-bold;
				line-height: 40px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				text-decoration: none;
				color: $text-color;
				padding-left: 27px;
				padding-right: 25px;
				position: relative;
				display: block;

				&:after {
					content: "";
					display: inline-block;
					@include sprite($arrow);
					position: absolute;
					right: 0;
					top: 44%;
				}
			}

			&__inner-list {
				margin-top: 20px;
				display: none;
				&-item {
					list-style-type: none;
					height: 37px;
				}	
			}
		}
	}
}

.filter-list-item.active {
	.filter-list-item__trigger{
		&:after {
			content: "";
			display: inline-block;
			@include sprite($arrow-up);
			position: absolute;
			right: 0;
			top: 44%;
		}
	}
}

.radio-input {
	width: 19px;
	height: 19px;
	vertical-align: top;

	& + label {
		cursor: pointer;
	}

	&:not(checked) {
		position: absolute;
		opacity: 0;
}

	&:not(checked) + label {
		position: relative;
		padding-left: 60px;
	}

	&:not(checked) + label:before {
		content: '';
		position: absolute;
		display: inline-block;
		top: -1px;
		left: 30px;
		width: 12px;
		height: 12px;
		border: 3px solid #dee1e4;
		border-radius: 50%;
	}
	
	&:not(checked) + label:after {
		content: '';
		position: absolute;
		top: 4px;
		left: 35px;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: #ff6e35;
		opacity: 0;
		transition: all .2s;
	}

	&:checked +label:after {
		opacity: 1;
	}

	&:checked +label:before {
		content: '';
		position: absolute;
		top: -1px;
		left: 30px;
		width: 12px;
		height: 12px;
		border: 3px solid #ff6e35;
	}
}

.checkbox-input {
	vertical-align: top;
	width: 15px;
	height: 15px;

	& + label {
		cursor: pointer;
	}



	&:not(checked) {
		position: absolute;
		opacity: 0;
}

	&:not(checked) + label {
		position: relative;
		padding-left: 60px;

	}

	&:not(checked) + label:before {
		content: '';
		position: absolute;
		display: inline-block;
		top: -1px;
		left: 30px;
		width: 19px;
		height: 19px;
		background-color: #dee1e4;
		border-radius: 2px;
	}
	
	&:not(checked) + label:after {
		content: '';
		@include sprite($checked);
		position: absolute;
		top: 4px;
		left: 33px;
		opacity: 0;
		transition: all .2s;
	}

	&:checked +label:after {
		opacity: 1;
	}

	&:checked +label:before {
		content: '';
		position: absolute;
		background: #ff6e35;
		top: -1px;
		left: 30px;
		width: 19px;
		height: 19px;
	}
}

.checkbox-label:hover:before {
	@include sprite($checked-hover);

}


.radio-label, .checkbox-label {
	cursor: pointer;
	font-family: $font-family-regular;
	font-size: 14px;
}

.clear-checkbox {
	margin-left: 27px;
	font-size: 14px;
	font-family: $font-family-regular;
	margin-bottom: 14px;

	&-link {
		color: #5db2fc;
		text-decoration: underline;
		background: none;
		border: none;
	}
}

.range-slider__text {
	font-size: 14px;
	font-family: $font-family-regular;
	margin-right: 14px;
	margin-left: 10px;
}

.range-slider__input {
	width: 82px;
	line-height: 26px;
	font-size: 14px;
	border: 1px solid #dee1e4;
	border-radius: 4px;
	padding-left: 9px;
	box-shadow: inset rgba(0, 0, 0, 0.4) 0 1px 1px 0px;
	display: inline-block;
}

.slider-range {
	width: 270px;
	margin: 15px 0 35px 15px;
	display: block;
}



.range-slider-wrapper {
	@include clearfix;
	margin: 20px 0 0 25px;
}

.ui-slider {
	background: #dee1e4;
	height: 6px;
	position: relative;
	margin-top: 18px;
}

.ui-slider-range {
	background: $primary-orange;
}

.ui-slider-horizontal .ui-slider-handle {
	top: 3px;
	@include sprite($carrete);
	border: 0 none;
	margin-left: -4px;
	border-radius: 0;
	cursor: pointer;
	outline: none;
	
}
.ui-slider-horizontal .ui-slider-handle:focus {
	border: none;
	outline: none;
}


.color-box-cont {
	margin-top: 6px;
	width: 236px;
	margin-left: 47px;
	@include clearfix;
}


.color-box {
	width: 37px;
	height: 37px;
	border: 1px solid #dee1e4;
	float: left;
	margin: 0 22px 22px 0;
	cursor: pointer;
	transition: 0.1s;
	&-item {
		float: left;
		list-style-type: none;
	}
	&:hover {
		box-shadow: $primary-orange 0 0 2px 2px;
		transition: 0.1s;
	}
}

