/*----------  Navigation block styles  ----------*/

.nav-list {
	list-style: none;
	font-size: 0px;
	margin: 0;
	padding: 0;
	&__item {
		display: inline-block;
	}
	&-link {
		display: block;
		line-height: 52px;
		font-size: 16px;
		padding: 0 15px;
		font-family: $font-family-regular;
		text-decoration: none;
		color: $link-color;
		&:hover {
			background: #e6e3e3;
		}
		&.active {
			background: $primary-orange;
			color: $primary-white;
			font-family: $font-family-semibold;
			&:hover {
				background: $primary-orange-light;
			}
		}
	}
}