/*=============================================
=            Header styles section            =
=============================================*/

.main-header {
	margin-bottom: 34px;
	&__top, &__bottom {
		&_container {
			vertical-align: middle;
			@extend .container;
			@include clearfix;
		}
		background-color: $primary-white;
		box-shadow: 0 2px 0 #e7e7e7;
	}
}

.main-header__top_container {
	min-height: 77px;
	line-height: 77px;
}

.main-header__middle_container {
	@extend .container;
	@include clearfix;
	min-height: 96px;
	vertical-align: middle;
	margin: auto;
	padding-top: 30px;
}

/*=====  End of Header styles section  ======*/


