/*=============================================
=            Header styles section            =
=============================================*/

.main-header {
	margin-bottom: 34px;
	&__top, &__bottom {
		&_container {
			vertical-align: middle;
			@extend .container;
			@include clearfix;
		}
		background-color: #fff;
		box-shadow: 0 2px 0 #ebedef;
	}
}

/*----------  Top header  ----------*/

.main-header__top_container {
	min-height: 77px;
	line-height: 77px;
}

.main-header__social {
	margin: 0;
	float: left;
	vertical-align: middle;
	list-style: none;
}

.social {
	&__item {
		display: inline-block;
	}
	&__link {
		display: block;
		text-indent: -99999px;
	}
}

.address {
	float: right;
	&__location {
		font-style: normal !important;
		font-size: 14px;
		line-height: 24px;
		display: inline-block;
	}
	&__phone {
		font-size: 18px;
		font-weight: 600;
		line-height: 24px;
		margin-left: 106px;
		text-decoration: none;
	}
}

/*----------  End top header  ----------*/

/*----------  Middle header  ----------*/

.main-header__middle_container {
	@extend .container;
	@include clearfix;
	min-height: 96px;
	// line-height: 96px;
	vertical-align: middle;
	margin: auto;
	padding-top: 30px;
}
.logo {
	float: left;
	&__img {
		display: block;
	}
}

.search {
	float: left;
	margin-left: 57px;
	height: 36px;
	&__request {
		background-color: #fbfbfb;
		border: 1px solid #dee1e4;
		border-radius: 5px 0 0 5px;
		line-height: 36px;
		height: 36px;
		width: 288px;
		outline: none;
		padding-left: 18px;
	}
	&__btn {
		width: 78px;
		height: 36px;
		background: #f60;
		outline: none;
		border: none;
		border-radius: 0 5px 5px 0;
		margin-left: -6px;
	}
}

.menu {
	float: right;
	margin: 0;
	padding: 0;
	&__item {
		display: inline-block;
		margin-left: 30px;
		margin-top: 9px;
		&:first-child {
			margin-left: 10px;
		}
	}
	&__link {
		font-size: 16px;
		font-family: $font-family-semibold;
		line-height: 18px;
		color: #333;
		&:hover {
			color: #f60;
		}
	}
}
/*----------  End middle header  ----------*/

/*----------  Bottom header  ----------*/

.main-header__bottom_container {
	min-height: 52px;
	line-height: 52px;
}

.nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
	&__item {
		display: inline-block;
	}
	&-link {
		display: block;
		font-size: 16px;
		padding: 0 13px;
		font-family: $font-family-regular;
		text-decoration: none;
		color: #333;
		&:hover {
			background: #e6e3e3;
		}
		&_active {
			background: #f60;                  // Primary orange
			color: #fff;
			font-family: $font-family-semibold;
		}
	}
}

/*=====  End of Header styles section  ======*/


