.main-content {
	&_container {
		@extend .container;
		@include clearfix;
	}
}
.section-title {
	font-size: 20px;
	font-family: $font-family-bold;
	margin-bottom: 30px;
}

.product-catalog {
	float: right;
	width: 743px;
}