/*===========================================
=            Base styles section            =
===========================================*/
* {
	box-sizing: border-box;
}

ul, li {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

address {
	font-style: normal !important;
}

body {
	background: #f4f4f4;
}

.wrapper {
	position: relative;
	min-height: 100%;
	// margin-bottom: -222px;	// Высота футера
	&:after {
		content: "";
		display: block;
	}
}

.footer, wrapper:after {
	height: 222px;	// Выоста футера
}

.container {
	max-width: 1101px;
	min-width: 1100px;
	margin: 0 auto;
}

// Hide logo text
.logo__text {
	position: absolute;
	top: 0;
	left: -99999px;
}

/*=====  End of Base styles section  ======*/

