.breadcrumbs
	ul.breadcrumbs-list
		- var breadcrumbsItemList = ['Главная', 'Каталог']
		each breadcrumbsItem in breadcrumbsItemList
			li.breadcrumbs-list__item
				a(href='#').breadcrumbs-list-link= breadcrumbsItem