.catalog-sorting
	form.catalog-sorting-form
		label(for="sortBy").catalog-sorting-form__label
			| Сортировать по
		select(name="sortBy").catalog-sorting-form__select
			- var optionItemList = ['цене', 'популярности', 'производителю']
			each optionItem in optionItemList
				option(value="")= optionItem
	.catalog-view
		span.catalog-view__title
			| Вид каталога
		ul.catalog-view__list
			- var viewItemList = ['rows', 'thumbnails', 'list']
			each viewItem in viewItemList
				li(class="catalog-view-item catalog-view_" + viewItem)
					a(href="#", class="catalog-view-link catalog-view-link_" + viewItem) 11
