.filter
	ul.filter-list
		li.filter-list-item
			a(href="#").filter-list-item__trigger Наличие в магазинах
			ul.filter-list-item__inner-list
				li.filter-list-item__inner-list-item
					input.radio-input(type='radio', name='shops', id='all-shops')
					label(for="all-shops").radio-label Во всех магазинах
				li.filter-list-item__inner-list-item
					input.radio-input(type='radio', name='shops', id='closest-shop')
					label(for="closest-shop").radio-label В ближайшем ко мне магазине
		li.filter-list-item
			a(href="#").filter-list-item__trigger Бренды
			form(id='brands-form').filter-list-item__inner-list
				ul.inner-list
					li.filter-list-item__inner-list-item
						input(type='checkbox', name='brands', id='lenovo').checkbox-input
						label(for="lenovo").checkbox-label Lenovo
					li.filter-list-item__inner-list-item
						input.checkbox-input(type='checkbox', name='brands', id='apple')
						label(for="apple").checkbox-label Apple
					li.filter-list-item__inner-list-item
						input.checkbox-input(type='checkbox', name='brands', id='samsung')
						label(for="samsung").checkbox-label Samsung
					li.filter-list-item__inner-list-item
						input.checkbox-input(type='checkbox', name='brands', id='asus')
						label(for="asus").checkbox-label Asus
					li.filter-list-item__inner-list-item
						input.checkbox-input(type='checkbox', name='brands', id='motorola')
						label(for="motorola").checkbox-label Motorola
				.clear-checkbox 
					input.clear-checkbox-link(type='reset', value='Сбросить фильтр')
		li.filter-list-item
			a(href="#").filter-list-item__trigger Цена
			.range-slider-wrapper.filter-list-item__inner-list
				label.range-slider__text от
				input.range-slider__input.range-slider__input-start(type='text', value='0')
				label.range-slider__text до
				input.range-slider__input.range-slider__input-end(type='text', value='25000')
				.slider-range#slider-range
		li.filter-list-item
			a(href="").filter-list-item__trigger Цвета
			ul.color-box-cont.filter-list-item__inner-list
				- var colors = ['#ffffff','#cccccc','#000000','#0a3153','#ff1800','#fff343','#fb914a','#92c37c','#40a6ff','#9870ad','#dc78ad','#7f401d']
				each color in colors
					li.color-box-item
						a(href="#" style="background: "+ color).color-box
		li.filter-list-item
			a(href="#").filter-list-item__trigger Операционные системы
			form.filter-list-item__inner-list
				ul.inner-list
					li.filter-list-item__inner-list-item
						input.checkbox-input(type='checkbox', name='os', id='android')
						label(for="android").checkbox-label Android							
					li.filter-list-item__inner-list-item
						input.checkbox-input(type='checkbox', name='os', id='iOS')
						label(for="iOS").checkbox-label iOS							
					li.filter-list-item__inner-list-item
						input.checkbox-input(type='checkbox', name='os', id='windowsmob')
						label(for="windowsmob").checkbox-label Windows Mobile
					li.filter-list-item__inner-list-item
						input.checkbox-input(type='checkbox', name='os', id='symbian')
						label(for="symbian").checkbox-label Symbian							
					li.filter-list-item__inner-list-item
						input.checkbox-input(type='checkbox', name='os', id='custom')
						label(for="custom").checkbox-label Custom							
				.clear-checkbox 
					input.clear-checkbox-link(type='reset', value='Сбросить фильтр')
