- var pagePosition="footer"
.footer_container
	.footer__top
		.footer__logo
			include _logo
		.footer__right
			.footer-social
				include _social
			.footer__navigation
				include _navigation
.footer__bottom
	small.footer__copyright
		| All rights reserved. 2015. no copy alowed

