header.main-header
	- var pageAttachment="main-header"
	.main-header__top
		.main-header__top-container
			include ../elements/_social
			include ../elements/_address
	.main-header__middle
		.main-header__middle-container
			