case pagePosition
	when "main-header": - var logoImg = "img/logo.png"
	when "footer": - var logoImg = "img/logo-footer.png"
a.logo
	img(src=logoImg, alt="Cooltech Logo").logo__img
	h1.logo__text Cooltech