- var navItemList = ['Планшеты','Мобильные телефоны','МР3 плееры','Персональные компьютеры','Ноутбуки','Аксесуары','Бытовая техника']
ul.nav-list
	each navItem in navItemList
		li.nav-list__item
			a(href="#" class="nav-list-link"+ ((navItem == "Мобильные телефоны") ? ' active' : ''))= navItem