head
	meta(charset="UTF-8")
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=1200, initial-scale=1')
		
	// Stylesheets
	link(rel="stylesheet", href="css/main.css")

	// SEO optimisation
	title
		block title
	meta(name='author', content='Alexander Lavryk')
	meta(name='keywords', content='shop mobile phones cooltech')