case pageAttachment
	when "main-header": - var iconColor = "dark"
	when "footer": - var iconColor = "light"
- var socialItemList = ['fb', 'vk', 'tw']
ul(class=pageAttachment + "__social")
	each socialItem in socialItemList
		li(class="social__item_" + iconColor) 
			//- href из массива ?
			a(href="#", target="_blank", class="social__item__link" + " social__item__link_" + iconColor + "-" + socialItem)= socialItem
