extends templates/template

block title
	| Каталог мобильных телефонов

block content
	.main-content_container
		.main-content-header
			include blocks/_breadcrumbs
			h2.section-title
				| Мобильные телефоны
		include blocks/_sidebar
		.product-catalog
			include blocks/_catalog
	include blocks/_info-block


