<!DOCTYPE html>
html(lang="ru-RU")
head
	meta(charset="UTF-8")
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(rel="stylesheet", href="css/main.css")
	title Cooltech

body.page
	.page-wrapper
		include blocks/_header
		.main-section.container
			include blocks/_sidebar
			.main-content
				include blocks/_content-section
	include blocks/_footer
