extends templates/template

block title
	| Каталог мобильных телефонов

block content
	.main-content
		h2.section-title
			| Мобильные телефоны
		include blocks/_sidebar
		section.product-catalog
			include blocks/_catalog


