/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-left-name: 'arrow-left';
$arrow-left-x: 688px;
$arrow-left-y: 7px;
$arrow-left-offset-x: -688px;
$arrow-left-offset-y: -7px;
$arrow-left-width: 6px;
$arrow-left-height: 9px;
$arrow-left-total-width: 701px;
$arrow-left-total-height: 694px;
$arrow-left-image: '../img/sprites/sprite.png';
$arrow-left: (688px, 7px, -688px, -7px, 6px, 9px, 701px, 694px, '../img/sprites/sprite.png', 'arrow-left', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 682px;
$arrow-right-y: 16px;
$arrow-right-offset-x: -682px;
$arrow-right-offset-y: -16px;
$arrow-right-width: 6px;
$arrow-right-height: 9px;
$arrow-right-total-width: 701px;
$arrow-right-total-height: 694px;
$arrow-right-image: '../img/sprites/sprite.png';
$arrow-right: (682px, 16px, -682px, -16px, 6px, 9px, 701px, 694px, '../img/sprites/sprite.png', 'arrow-right', );
$arrow-select-down-name: 'arrow-select-down';
$arrow-select-down-x: 656px;
$arrow-select-down-y: 34px;
$arrow-select-down-offset-x: -656px;
$arrow-select-down-offset-y: -34px;
$arrow-select-down-width: 13px;
$arrow-select-down-height: 9px;
$arrow-select-down-total-width: 701px;
$arrow-select-down-total-height: 694px;
$arrow-select-down-image: '../img/sprites/sprite.png';
$arrow-select-down: (656px, 34px, -656px, -34px, 13px, 9px, 701px, 694px, '../img/sprites/sprite.png', 'arrow-select-down', );
$arrow-select-top-name: 'arrow-select-top';
$arrow-select-top-x: 669px;
$arrow-select-top-y: 25px;
$arrow-select-top-offset-x: -669px;
$arrow-select-top-offset-y: -25px;
$arrow-select-top-width: 13px;
$arrow-select-top-height: 9px;
$arrow-select-top-total-width: 701px;
$arrow-select-top-total-height: 694px;
$arrow-select-top-image: '../img/sprites/sprite.png';
$arrow-select-top: (669px, 25px, -669px, -25px, 13px, 9px, 701px, 694px, '../img/sprites/sprite.png', 'arrow-select-top', );
$arrow-up-name: 'arrow-up';
$arrow-up-x: 563px;
$arrow-up-y: 124px;
$arrow-up-offset-x: -563px;
$arrow-up-offset-y: -124px;
$arrow-up-width: 18px;
$arrow-up-height: 11px;
$arrow-up-total-width: 701px;
$arrow-up-total-height: 694px;
$arrow-up-image: '../img/sprites/sprite.png';
$arrow-up: (563px, 124px, -563px, -124px, 18px, 11px, 701px, 694px, '../img/sprites/sprite.png', 'arrow-up', );
$arrow-name: 'arrow';
$arrow-x: 581px;
$arrow-y: 113px;
$arrow-offset-x: -581px;
$arrow-offset-y: -113px;
$arrow-width: 18px;
$arrow-height: 11px;
$arrow-total-width: 701px;
$arrow-total-height: 694px;
$arrow-image: '../img/sprites/sprite.png';
$arrow: (581px, 113px, -581px, -113px, 18px, 11px, 701px, 694px, '../img/sprites/sprite.png', 'arrow', );
$carrete-name: 'carrete';
$carrete-x: 648px;
$carrete-y: 43px;
$carrete-offset-x: -648px;
$carrete-offset-y: -43px;
$carrete-width: 8px;
$carrete-height: 14px;
$carrete-total-width: 701px;
$carrete-total-height: 694px;
$carrete-image: '../img/sprites/sprite.png';
$carrete: (648px, 43px, -648px, -43px, 8px, 14px, 701px, 694px, '../img/sprites/sprite.png', 'carrete', );
$checked-hover-name: 'checked-hover';
$checked-hover-x: 416px;
$checked-hover-y: 261px;
$checked-hover-offset-x: -416px;
$checked-hover-offset-y: -261px;
$checked-hover-width: 19px;
$checked-hover-height: 19px;
$checked-hover-total-width: 701px;
$checked-hover-total-height: 694px;
$checked-hover-image: '../img/sprites/sprite.png';
$checked-hover: (416px, 261px, -416px, -261px, 19px, 19px, 701px, 694px, '../img/sprites/sprite.png', 'checked-hover', );
$checked-name: 'checked';
$checked-x: 635px;
$checked-y: 57px;
$checked-offset-x: -635px;
$checked-offset-y: -57px;
$checked-width: 13px;
$checked-height: 10px;
$checked-total-width: 701px;
$checked-total-height: 694px;
$checked-image: '../img/sprites/sprite.png';
$checked: (635px, 57px, -635px, -57px, 13px, 10px, 701px, 694px, '../img/sprites/sprite.png', 'checked', );
$fb-dark-hover-name: 'fb-dark-hover';
$fb-dark-hover-x: 338px;
$fb-dark-hover-y: 332px;
$fb-dark-hover-offset-x: -338px;
$fb-dark-hover-offset-y: -332px;
$fb-dark-hover-width: 26px;
$fb-dark-hover-height: 26px;
$fb-dark-hover-total-width: 701px;
$fb-dark-hover-total-height: 694px;
$fb-dark-hover-image: '../img/sprites/sprite.png';
$fb-dark-hover: (338px, 332px, -338px, -332px, 26px, 26px, 701px, 694px, '../img/sprites/sprite.png', 'fb-dark-hover', );
$fb-dark-name: 'fb-dark';
$fb-dark-x: 364px;
$fb-dark-y: 306px;
$fb-dark-offset-x: -364px;
$fb-dark-offset-y: -306px;
$fb-dark-width: 26px;
$fb-dark-height: 26px;
$fb-dark-total-width: 701px;
$fb-dark-total-height: 694px;
$fb-dark-image: '../img/sprites/sprite.png';
$fb-dark: (364px, 306px, -364px, -306px, 26px, 26px, 701px, 694px, '../img/sprites/sprite.png', 'fb-dark', );
$fb-white-hover-name: 'fb-white-hover';
$fb-white-hover-x: 86px;
$fb-white-hover-y: 565px;
$fb-white-hover-offset-x: -86px;
$fb-white-hover-offset-y: -565px;
$fb-white-hover-width: 43px;
$fb-white-hover-height: 43px;
$fb-white-hover-total-width: 701px;
$fb-white-hover-total-height: 694px;
$fb-white-hover-image: '../img/sprites/sprite.png';
$fb-white-hover: (86px, 565px, -86px, -565px, 43px, 43px, 701px, 694px, '../img/sprites/sprite.png', 'fb-white-hover', );
$fb-white-name: 'fb-white';
$fb-white-x: 129px;
$fb-white-y: 522px;
$fb-white-offset-x: -129px;
$fb-white-offset-y: -522px;
$fb-white-width: 43px;
$fb-white-height: 43px;
$fb-white-total-width: 701px;
$fb-white-total-height: 694px;
$fb-white-image: '../img/sprites/sprite.png';
$fb-white: (129px, 522px, -129px, -522px, 43px, 43px, 701px, 694px, '../img/sprites/sprite.png', 'fb-white', );
$list-view-active-name: 'list-view-active';
$list-view-active-x: 435px;
$list-view-active-y: 245px;
$list-view-active-offset-x: -435px;
$list-view-active-offset-y: -245px;
$list-view-active-width: 16px;
$list-view-active-height: 16px;
$list-view-active-total-width: 701px;
$list-view-active-total-height: 694px;
$list-view-active-image: '../img/sprites/sprite.png';
$list-view-active: (435px, 245px, -435px, -245px, 16px, 16px, 701px, 694px, '../img/sprites/sprite.png', 'list-view-active', );
$list-view-name: 'list-view';
$list-view-x: 515px;
$list-view-y: 165px;
$list-view-offset-x: -515px;
$list-view-offset-y: -165px;
$list-view-width: 16px;
$list-view-height: 16px;
$list-view-total-width: 701px;
$list-view-total-height: 694px;
$list-view-image: '../img/sprites/sprite.png';
$list-view: (515px, 165px, -515px, -165px, 16px, 16px, 701px, 694px, '../img/sprites/sprite.png', 'list-view', );
$map-pin-name: 'map-pin';
$map-pin-x: 599px;
$map-pin-y: 97px;
$map-pin-offset-x: -599px;
$map-pin-offset-y: -97px;
$map-pin-width: 12px;
$map-pin-height: 16px;
$map-pin-total-width: 701px;
$map-pin-total-height: 694px;
$map-pin-image: '../img/sprites/sprite.png';
$map-pin: (599px, 97px, -599px, -97px, 12px, 16px, 701px, 694px, '../img/sprites/sprite.png', 'map-pin', );
$row-view-active-name: 'row-view-active';
$row-view-active-x: 483px;
$row-view-active-y: 197px;
$row-view-active-offset-x: -483px;
$row-view-active-offset-y: -197px;
$row-view-active-width: 16px;
$row-view-active-height: 16px;
$row-view-active-total-width: 701px;
$row-view-active-total-height: 694px;
$row-view-active-image: '../img/sprites/sprite.png';
$row-view-active: (483px, 197px, -483px, -197px, 16px, 16px, 701px, 694px, '../img/sprites/sprite.png', 'row-view-active', );
$row-view-name: 'row-view';
$row-view-x: 467px;
$row-view-y: 213px;
$row-view-offset-x: -467px;
$row-view-offset-y: -213px;
$row-view-width: 16px;
$row-view-height: 16px;
$row-view-total-width: 701px;
$row-view-total-height: 694px;
$row-view-image: '../img/sprites/sprite.png';
$row-view: (467px, 213px, -467px, -213px, 16px, 16px, 701px, 694px, '../img/sprites/sprite.png', 'row-view', );
$rub-name: 'rub';
$rub-x: 623px;
$rub-y: 67px;
$rub-offset-x: -623px;
$rub-offset-y: -67px;
$rub-width: 12px;
$rub-height: 14px;
$rub-total-width: 701px;
$rub-total-height: 694px;
$rub-image: '../img/sprites/sprite.png';
$rub: (623px, 67px, -623px, -67px, 12px, 14px, 701px, 694px, '../img/sprites/sprite.png', 'rub', );
$star-filled-name: 'star-filled';
$star-filled-x: 531px;
$star-filled-y: 150px;
$star-filled-offset-x: -531px;
$star-filled-offset-y: -150px;
$star-filled-width: 16px;
$star-filled-height: 15px;
$star-filled-total-width: 701px;
$star-filled-total-height: 694px;
$star-filled-image: '../img/sprites/sprite.png';
$star-filled: (531px, 150px, -531px, -150px, 16px, 15px, 701px, 694px, '../img/sprites/sprite.png', 'star-filled', );
$star-name: 'star';
$star-x: 547px;
$star-y: 135px;
$star-offset-x: -547px;
$star-offset-y: -135px;
$star-width: 16px;
$star-height: 15px;
$star-total-width: 701px;
$star-total-height: 694px;
$star-image: '../img/sprites/sprite.png';
$star: (547px, 135px, -547px, -135px, 16px, 15px, 701px, 694px, '../img/sprites/sprite.png', 'star', );
$stock-indicator-name: 'stock-indicator';
$stock-indicator-x: 694px;
$stock-indicator-y: 0px;
$stock-indicator-offset-x: -694px;
$stock-indicator-offset-y: 0px;
$stock-indicator-width: 7px;
$stock-indicator-height: 7px;
$stock-indicator-total-width: 701px;
$stock-indicator-total-height: 694px;
$stock-indicator-image: '../img/sprites/sprite.png';
$stock-indicator: (694px, 0px, -694px, 0px, 7px, 7px, 701px, 694px, '../img/sprites/sprite.png', 'stock-indicator', );
$telephone-name: 'telephone';
$telephone-x: 611px;
$telephone-y: 81px;
$telephone-offset-x: -611px;
$telephone-offset-y: -81px;
$telephone-width: 12px;
$telephone-height: 16px;
$telephone-total-width: 701px;
$telephone-total-height: 694px;
$telephone-image: '../img/sprites/sprite.png';
$telephone: (611px, 81px, -611px, -81px, 12px, 16px, 701px, 694px, '../img/sprites/sprite.png', 'telephone', );
$thumbnail-view-active-name: 'thumbnail-view-active';
$thumbnail-view-active-x: 451px;
$thumbnail-view-active-y: 229px;
$thumbnail-view-active-offset-x: -451px;
$thumbnail-view-active-offset-y: -229px;
$thumbnail-view-active-width: 16px;
$thumbnail-view-active-height: 16px;
$thumbnail-view-active-total-width: 701px;
$thumbnail-view-active-total-height: 694px;
$thumbnail-view-active-image: '../img/sprites/sprite.png';
$thumbnail-view-active: (451px, 229px, -451px, -229px, 16px, 16px, 701px, 694px, '../img/sprites/sprite.png', 'thumbnail-view-active', );
$thumbnail-view-name: 'thumbnail-view';
$thumbnail-view-x: 499px;
$thumbnail-view-y: 181px;
$thumbnail-view-offset-x: -499px;
$thumbnail-view-offset-y: -181px;
$thumbnail-view-width: 16px;
$thumbnail-view-height: 16px;
$thumbnail-view-total-width: 701px;
$thumbnail-view-total-height: 694px;
$thumbnail-view-image: '../img/sprites/sprite.png';
$thumbnail-view: (499px, 181px, -499px, -181px, 16px, 16px, 701px, 694px, '../img/sprites/sprite.png', 'thumbnail-view', );
$tw-dark-hover-name: 'tw-dark-hover';
$tw-dark-hover-x: 312px;
$tw-dark-hover-y: 358px;
$tw-dark-hover-offset-x: -312px;
$tw-dark-hover-offset-y: -358px;
$tw-dark-hover-width: 26px;
$tw-dark-hover-height: 26px;
$tw-dark-hover-total-width: 701px;
$tw-dark-hover-total-height: 694px;
$tw-dark-hover-image: '../img/sprites/sprite.png';
$tw-dark-hover: (312px, 358px, -312px, -358px, 26px, 26px, 701px, 694px, '../img/sprites/sprite.png', 'tw-dark-hover', );
$tw-dark-name: 'tw-dark';
$tw-dark-x: 390px;
$tw-dark-y: 280px;
$tw-dark-offset-x: -390px;
$tw-dark-offset-y: -280px;
$tw-dark-width: 26px;
$tw-dark-height: 26px;
$tw-dark-total-width: 701px;
$tw-dark-total-height: 694px;
$tw-dark-image: '../img/sprites/sprite.png';
$tw-dark: (390px, 280px, -390px, -280px, 26px, 26px, 701px, 694px, '../img/sprites/sprite.png', 'tw-dark', );
$tw-white-hover-name: 'tw-white-hover';
$tw-white-hover-x: 215px;
$tw-white-hover-y: 436px;
$tw-white-hover-offset-x: -215px;
$tw-white-hover-offset-y: -436px;
$tw-white-hover-width: 43px;
$tw-white-hover-height: 43px;
$tw-white-hover-total-width: 701px;
$tw-white-hover-total-height: 694px;
$tw-white-hover-image: '../img/sprites/sprite.png';
$tw-white-hover: (215px, 436px, -215px, -436px, 43px, 43px, 701px, 694px, '../img/sprites/sprite.png', 'tw-white-hover', );
$tw-white-name: 'tw-white';
$tw-white-x: 172px;
$tw-white-y: 479px;
$tw-white-offset-x: -172px;
$tw-white-offset-y: -479px;
$tw-white-width: 43px;
$tw-white-height: 43px;
$tw-white-total-width: 701px;
$tw-white-total-height: 694px;
$tw-white-image: '../img/sprites/sprite.png';
$tw-white: (172px, 479px, -172px, -479px, 43px, 43px, 701px, 694px, '../img/sprites/sprite.png', 'tw-white', );
$vk-dark-hover-name: 'vk-dark-hover';
$vk-dark-hover-x: 285px;
$vk-dark-hover-y: 384px;
$vk-dark-hover-offset-x: -285px;
$vk-dark-hover-offset-y: -384px;
$vk-dark-hover-width: 27px;
$vk-dark-hover-height: 26px;
$vk-dark-hover-total-width: 701px;
$vk-dark-hover-total-height: 694px;
$vk-dark-hover-image: '../img/sprites/sprite.png';
$vk-dark-hover: (285px, 384px, -285px, -384px, 27px, 26px, 701px, 694px, '../img/sprites/sprite.png', 'vk-dark-hover', );
$vk-dark-name: 'vk-dark';
$vk-dark-x: 258px;
$vk-dark-y: 410px;
$vk-dark-offset-x: -258px;
$vk-dark-offset-y: -410px;
$vk-dark-width: 27px;
$vk-dark-height: 26px;
$vk-dark-total-width: 701px;
$vk-dark-total-height: 694px;
$vk-dark-image: '../img/sprites/sprite.png';
$vk-dark: (258px, 410px, -258px, -410px, 27px, 26px, 701px, 694px, '../img/sprites/sprite.png', 'vk-dark', );
$vk-white-hover-name: 'vk-white-hover';
$vk-white-hover-x: 43px;
$vk-white-hover-y: 608px;
$vk-white-hover-offset-x: -43px;
$vk-white-hover-offset-y: -608px;
$vk-white-hover-width: 43px;
$vk-white-hover-height: 43px;
$vk-white-hover-total-width: 701px;
$vk-white-hover-total-height: 694px;
$vk-white-hover-image: '../img/sprites/sprite.png';
$vk-white-hover: (43px, 608px, -43px, -608px, 43px, 43px, 701px, 694px, '../img/sprites/sprite.png', 'vk-white-hover', );
$vk-white-name: 'vk-white';
$vk-white-x: 0px;
$vk-white-y: 651px;
$vk-white-offset-x: 0px;
$vk-white-offset-y: -651px;
$vk-white-width: 43px;
$vk-white-height: 43px;
$vk-white-total-width: 701px;
$vk-white-total-height: 694px;
$vk-white-image: '../img/sprites/sprite.png';
$vk-white: (0px, 651px, 0px, -651px, 43px, 43px, 701px, 694px, '../img/sprites/sprite.png', 'vk-white', );
$spritesheet-width: 701px;
$spritesheet-height: 694px;
$spritesheet-image: '../img/sprites/sprite.png';
$spritesheet-sprites: ($arrow-left, $arrow-right, $arrow-select-down, $arrow-select-top, $arrow-up, $arrow, $carrete, $checked-hover, $checked, $fb-dark-hover, $fb-dark, $fb-white-hover, $fb-white, $list-view-active, $list-view, $map-pin, $row-view-active, $row-view, $rub, $star-filled, $star, $stock-indicator, $telephone, $thumbnail-view-active, $thumbnail-view, $tw-dark-hover, $tw-dark, $tw-white-hover, $tw-white, $vk-dark-hover, $vk-dark, $vk-white-hover, $vk-white, );
$spritesheet: (701px, 694px, '../img/sprites/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
