/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-name: 'arrow';
$arrow-x: 563px;
$arrow-y: 77px;
$arrow-offset-x: -563px;
$arrow-offset-y: -77px;
$arrow-width: 18px;
$arrow-height: 11px;
$arrow-total-width: 645px;
$arrow-total-height: 647px;
$arrow-image: '../img/sprites/sprite.png';
$arrow: (563px, 77px, -563px, -77px, 18px, 11px, 645px, 647px, '../img/sprites/sprite.png', 'arrow', );
$carrete-name: 'carrete';
$carrete-x: 630px;
$carrete-y: 7px;
$carrete-offset-x: -630px;
$carrete-offset-y: -7px;
$carrete-width: 8px;
$carrete-height: 14px;
$carrete-total-width: 645px;
$carrete-total-height: 647px;
$carrete-image: '../img/sprites/sprite.png';
$carrete: (630px, 7px, -630px, -7px, 8px, 14px, 645px, 647px, '../img/sprites/sprite.png', 'carrete', );
$checked-hover-name: 'checked-hover';
$checked-hover-x: 416px;
$checked-hover-y: 214px;
$checked-hover-offset-x: -416px;
$checked-hover-offset-y: -214px;
$checked-hover-width: 19px;
$checked-hover-height: 19px;
$checked-hover-total-width: 645px;
$checked-hover-total-height: 647px;
$checked-hover-image: '../img/sprites/sprite.png';
$checked-hover: (416px, 214px, -416px, -214px, 19px, 19px, 645px, 647px, '../img/sprites/sprite.png', 'checked-hover', );
$checked-name: 'checked';
$checked-x: 617px;
$checked-y: 21px;
$checked-offset-x: -617px;
$checked-offset-y: -21px;
$checked-width: 13px;
$checked-height: 10px;
$checked-total-width: 645px;
$checked-total-height: 647px;
$checked-image: '../img/sprites/sprite.png';
$checked: (617px, 21px, -617px, -21px, 13px, 10px, 645px, 647px, '../img/sprites/sprite.png', 'checked', );
$fb-dark-hover-name: 'fb-dark-hover';
$fb-dark-hover-x: 338px;
$fb-dark-hover-y: 285px;
$fb-dark-hover-offset-x: -338px;
$fb-dark-hover-offset-y: -285px;
$fb-dark-hover-width: 26px;
$fb-dark-hover-height: 26px;
$fb-dark-hover-total-width: 645px;
$fb-dark-hover-total-height: 647px;
$fb-dark-hover-image: '../img/sprites/sprite.png';
$fb-dark-hover: (338px, 285px, -338px, -285px, 26px, 26px, 645px, 647px, '../img/sprites/sprite.png', 'fb-dark-hover', );
$fb-dark-name: 'fb-dark';
$fb-dark-x: 364px;
$fb-dark-y: 259px;
$fb-dark-offset-x: -364px;
$fb-dark-offset-y: -259px;
$fb-dark-width: 26px;
$fb-dark-height: 26px;
$fb-dark-total-width: 645px;
$fb-dark-total-height: 647px;
$fb-dark-image: '../img/sprites/sprite.png';
$fb-dark: (364px, 259px, -364px, -259px, 26px, 26px, 645px, 647px, '../img/sprites/sprite.png', 'fb-dark', );
$fb-white-hover-name: 'fb-white-hover';
$fb-white-hover-x: 172px;
$fb-white-hover-y: 432px;
$fb-white-hover-offset-x: -172px;
$fb-white-hover-offset-y: -432px;
$fb-white-hover-width: 43px;
$fb-white-hover-height: 43px;
$fb-white-hover-total-width: 645px;
$fb-white-hover-total-height: 647px;
$fb-white-hover-image: '../img/sprites/sprite.png';
$fb-white-hover: (172px, 432px, -172px, -432px, 43px, 43px, 645px, 647px, '../img/sprites/sprite.png', 'fb-white-hover', );
$fb-white-name: 'fb-white';
$fb-white-x: 215px;
$fb-white-y: 389px;
$fb-white-offset-x: -215px;
$fb-white-offset-y: -389px;
$fb-white-width: 43px;
$fb-white-height: 43px;
$fb-white-total-width: 645px;
$fb-white-total-height: 647px;
$fb-white-image: '../img/sprites/sprite.png';
$fb-white: (215px, 389px, -215px, -389px, 43px, 43px, 645px, 647px, '../img/sprites/sprite.png', 'fb-white', );
$list-view-active-name: 'list-view-active';
$list-view-active-x: 435px;
$list-view-active-y: 198px;
$list-view-active-offset-x: -435px;
$list-view-active-offset-y: -198px;
$list-view-active-width: 16px;
$list-view-active-height: 16px;
$list-view-active-total-width: 645px;
$list-view-active-total-height: 647px;
$list-view-active-image: '../img/sprites/sprite.png';
$list-view-active: (435px, 198px, -435px, -198px, 16px, 16px, 645px, 647px, '../img/sprites/sprite.png', 'list-view-active', );
$list-view-name: 'list-view';
$list-view-x: 499px;
$list-view-y: 134px;
$list-view-offset-x: -499px;
$list-view-offset-y: -134px;
$list-view-width: 16px;
$list-view-height: 16px;
$list-view-total-width: 645px;
$list-view-total-height: 647px;
$list-view-image: '../img/sprites/sprite.png';
$list-view: (499px, 134px, -499px, -134px, 16px, 16px, 645px, 647px, '../img/sprites/sprite.png', 'list-view', );
$map-pin-name: 'map-pin';
$map-pin-x: 581px;
$map-pin-y: 61px;
$map-pin-offset-x: -581px;
$map-pin-offset-y: -61px;
$map-pin-width: 12px;
$map-pin-height: 16px;
$map-pin-total-width: 645px;
$map-pin-total-height: 647px;
$map-pin-image: '../img/sprites/sprite.png';
$map-pin: (581px, 61px, -581px, -61px, 12px, 16px, 645px, 647px, '../img/sprites/sprite.png', 'map-pin', );
$row-view-active-name: 'row-view-active';
$row-view-active-x: 483px;
$row-view-active-y: 150px;
$row-view-active-offset-x: -483px;
$row-view-active-offset-y: -150px;
$row-view-active-width: 16px;
$row-view-active-height: 16px;
$row-view-active-total-width: 645px;
$row-view-active-total-height: 647px;
$row-view-active-image: '../img/sprites/sprite.png';
$row-view-active: (483px, 150px, -483px, -150px, 16px, 16px, 645px, 647px, '../img/sprites/sprite.png', 'row-view-active', );
$row-view-name: 'row-view';
$row-view-x: 467px;
$row-view-y: 166px;
$row-view-offset-x: -467px;
$row-view-offset-y: -166px;
$row-view-width: 16px;
$row-view-height: 16px;
$row-view-total-width: 645px;
$row-view-total-height: 647px;
$row-view-image: '../img/sprites/sprite.png';
$row-view: (467px, 166px, -467px, -166px, 16px, 16px, 645px, 647px, '../img/sprites/sprite.png', 'row-view', );
$rub-name: 'rub';
$rub-x: 605px;
$rub-y: 31px;
$rub-offset-x: -605px;
$rub-offset-y: -31px;
$rub-width: 12px;
$rub-height: 14px;
$rub-total-width: 645px;
$rub-total-height: 647px;
$rub-image: '../img/sprites/sprite.png';
$rub: (605px, 31px, -605px, -31px, 12px, 14px, 645px, 647px, '../img/sprites/sprite.png', 'rub', );
$star-filled-name: 'star-filled';
$star-filled-x: 531px;
$star-filled-y: 103px;
$star-filled-offset-x: -531px;
$star-filled-offset-y: -103px;
$star-filled-width: 16px;
$star-filled-height: 15px;
$star-filled-total-width: 645px;
$star-filled-total-height: 647px;
$star-filled-image: '../img/sprites/sprite.png';
$star-filled: (531px, 103px, -531px, -103px, 16px, 15px, 645px, 647px, '../img/sprites/sprite.png', 'star-filled', );
$star-name: 'star';
$star-x: 547px;
$star-y: 88px;
$star-offset-x: -547px;
$star-offset-y: -88px;
$star-width: 16px;
$star-height: 15px;
$star-total-width: 645px;
$star-total-height: 647px;
$star-image: '../img/sprites/sprite.png';
$star: (547px, 88px, -547px, -88px, 16px, 15px, 645px, 647px, '../img/sprites/sprite.png', 'star', );
$stock-indicator-name: 'stock-indicator';
$stock-indicator-x: 638px;
$stock-indicator-y: 0px;
$stock-indicator-offset-x: -638px;
$stock-indicator-offset-y: 0px;
$stock-indicator-width: 7px;
$stock-indicator-height: 7px;
$stock-indicator-total-width: 645px;
$stock-indicator-total-height: 647px;
$stock-indicator-image: '../img/sprites/sprite.png';
$stock-indicator: (638px, 0px, -638px, 0px, 7px, 7px, 645px, 647px, '../img/sprites/sprite.png', 'stock-indicator', );
$telephone-name: 'telephone';
$telephone-x: 593px;
$telephone-y: 45px;
$telephone-offset-x: -593px;
$telephone-offset-y: -45px;
$telephone-width: 12px;
$telephone-height: 16px;
$telephone-total-width: 645px;
$telephone-total-height: 647px;
$telephone-image: '../img/sprites/sprite.png';
$telephone: (593px, 45px, -593px, -45px, 12px, 16px, 645px, 647px, '../img/sprites/sprite.png', 'telephone', );
$thumbnail-view-active-name: 'thumbnail-view-active';
$thumbnail-view-active-x: 515px;
$thumbnail-view-active-y: 118px;
$thumbnail-view-active-offset-x: -515px;
$thumbnail-view-active-offset-y: -118px;
$thumbnail-view-active-width: 16px;
$thumbnail-view-active-height: 16px;
$thumbnail-view-active-total-width: 645px;
$thumbnail-view-active-total-height: 647px;
$thumbnail-view-active-image: '../img/sprites/sprite.png';
$thumbnail-view-active: (515px, 118px, -515px, -118px, 16px, 16px, 645px, 647px, '../img/sprites/sprite.png', 'thumbnail-view-active', );
$thumbnail-view-name: 'thumbnail-view';
$thumbnail-view-x: 451px;
$thumbnail-view-y: 182px;
$thumbnail-view-offset-x: -451px;
$thumbnail-view-offset-y: -182px;
$thumbnail-view-width: 16px;
$thumbnail-view-height: 16px;
$thumbnail-view-total-width: 645px;
$thumbnail-view-total-height: 647px;
$thumbnail-view-image: '../img/sprites/sprite.png';
$thumbnail-view: (451px, 182px, -451px, -182px, 16px, 16px, 645px, 647px, '../img/sprites/sprite.png', 'thumbnail-view', );
$tw-dark-hover-name: 'tw-dark-hover';
$tw-dark-hover-x: 312px;
$tw-dark-hover-y: 311px;
$tw-dark-hover-offset-x: -312px;
$tw-dark-hover-offset-y: -311px;
$tw-dark-hover-width: 26px;
$tw-dark-hover-height: 26px;
$tw-dark-hover-total-width: 645px;
$tw-dark-hover-total-height: 647px;
$tw-dark-hover-image: '../img/sprites/sprite.png';
$tw-dark-hover: (312px, 311px, -312px, -311px, 26px, 26px, 645px, 647px, '../img/sprites/sprite.png', 'tw-dark-hover', );
$tw-dark-name: 'tw-dark';
$tw-dark-x: 390px;
$tw-dark-y: 233px;
$tw-dark-offset-x: -390px;
$tw-dark-offset-y: -233px;
$tw-dark-width: 26px;
$tw-dark-height: 26px;
$tw-dark-total-width: 645px;
$tw-dark-total-height: 647px;
$tw-dark-image: '../img/sprites/sprite.png';
$tw-dark: (390px, 233px, -390px, -233px, 26px, 26px, 645px, 647px, '../img/sprites/sprite.png', 'tw-dark', );
$tw-white-hover-name: 'tw-white-hover';
$tw-white-hover-x: 129px;
$tw-white-hover-y: 475px;
$tw-white-hover-offset-x: -129px;
$tw-white-hover-offset-y: -475px;
$tw-white-hover-width: 43px;
$tw-white-hover-height: 43px;
$tw-white-hover-total-width: 645px;
$tw-white-hover-total-height: 647px;
$tw-white-hover-image: '../img/sprites/sprite.png';
$tw-white-hover: (129px, 475px, -129px, -475px, 43px, 43px, 645px, 647px, '../img/sprites/sprite.png', 'tw-white-hover', );
$tw-white-name: 'tw-white';
$tw-white-x: 86px;
$tw-white-y: 518px;
$tw-white-offset-x: -86px;
$tw-white-offset-y: -518px;
$tw-white-width: 43px;
$tw-white-height: 43px;
$tw-white-total-width: 645px;
$tw-white-total-height: 647px;
$tw-white-image: '../img/sprites/sprite.png';
$tw-white: (86px, 518px, -86px, -518px, 43px, 43px, 645px, 647px, '../img/sprites/sprite.png', 'tw-white', );
$vk-dark-hover-name: 'vk-dark-hover';
$vk-dark-hover-x: 285px;
$vk-dark-hover-y: 337px;
$vk-dark-hover-offset-x: -285px;
$vk-dark-hover-offset-y: -337px;
$vk-dark-hover-width: 27px;
$vk-dark-hover-height: 26px;
$vk-dark-hover-total-width: 645px;
$vk-dark-hover-total-height: 647px;
$vk-dark-hover-image: '../img/sprites/sprite.png';
$vk-dark-hover: (285px, 337px, -285px, -337px, 27px, 26px, 645px, 647px, '../img/sprites/sprite.png', 'vk-dark-hover', );
$vk-dark-name: 'vk-dark';
$vk-dark-x: 258px;
$vk-dark-y: 363px;
$vk-dark-offset-x: -258px;
$vk-dark-offset-y: -363px;
$vk-dark-width: 27px;
$vk-dark-height: 26px;
$vk-dark-total-width: 645px;
$vk-dark-total-height: 647px;
$vk-dark-image: '../img/sprites/sprite.png';
$vk-dark: (258px, 363px, -258px, -363px, 27px, 26px, 645px, 647px, '../img/sprites/sprite.png', 'vk-dark', );
$vk-white-hover-name: 'vk-white-hover';
$vk-white-hover-x: 43px;
$vk-white-hover-y: 561px;
$vk-white-hover-offset-x: -43px;
$vk-white-hover-offset-y: -561px;
$vk-white-hover-width: 43px;
$vk-white-hover-height: 43px;
$vk-white-hover-total-width: 645px;
$vk-white-hover-total-height: 647px;
$vk-white-hover-image: '../img/sprites/sprite.png';
$vk-white-hover: (43px, 561px, -43px, -561px, 43px, 43px, 645px, 647px, '../img/sprites/sprite.png', 'vk-white-hover', );
$vk-white-name: 'vk-white';
$vk-white-x: 0px;
$vk-white-y: 604px;
$vk-white-offset-x: 0px;
$vk-white-offset-y: -604px;
$vk-white-width: 43px;
$vk-white-height: 43px;
$vk-white-total-width: 645px;
$vk-white-total-height: 647px;
$vk-white-image: '../img/sprites/sprite.png';
$vk-white: (0px, 604px, 0px, -604px, 43px, 43px, 645px, 647px, '../img/sprites/sprite.png', 'vk-white', );
$spritesheet-width: 645px;
$spritesheet-height: 647px;
$spritesheet-image: '../img/sprites/sprite.png';
$spritesheet-sprites: ($arrow, $carrete, $checked-hover, $checked, $fb-dark-hover, $fb-dark, $fb-white-hover, $fb-white, $list-view-active, $list-view, $map-pin, $row-view-active, $row-view, $rub, $star-filled, $star, $stock-indicator, $telephone, $thumbnail-view-active, $thumbnail-view, $tw-dark-hover, $tw-dark, $tw-white-hover, $tw-white, $vk-dark-hover, $vk-dark, $vk-white-hover, $vk-white, );
$spritesheet: (645px, 647px, '../img/sprites/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
