//-----------------------------------------------------------------------
//		This file contains all application-wide Sass variables.
//-----------------------------------------------------------------------



// /*****************************
// 		----TYPOGRAPHY----
// *****************************/

// Regular font family

$font-family-light: 'open_sanslight';
$font-family-regular: 'open_sansregular', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$font-family-semibold: 'open_sanssemibold';
$font-family-bold: 'open_sansbold';
$font-family-extrabold: 'open_sansextrabold';

$font-family-light-italic: 'open_sanslight_italic';
$font-family-italic: 'open_sansitalic';
$font-family-semibold-italic: 'open_sanssemibold_italic';
$font-family-bold-italic: 'open_sansbold_italic';
$font-family-extrabold-italic: 'open_sansextrabold_italic';


$font-size-regular: 14px !default;
$font-size-large: ceil(($font-size-regular * 1.25)) !default;
$font-size-small: ceil(($font-size-regular * 0.85)) !default;


// Code (monospace) font family

$font-family-code: 'Ubuntu Mono', 'Monaco', monospace !default;


// Headings size
$font-size-h1: floor(($font-size-regular * 2.6)) !default;
$font-size-h2: floor(($font-size-regular * 2.15)) !default;
$font-size-h3: ceil(($font-size-regular * 1.7)) !default;
$font-size-h4: ceil(($font-size-regular * 1.25)) !default;
$font-size-h5: $font-size-regular !default;
$font-size-h6: ceil(($font-size-regular * 0.85)) !default;


// /*****************************
// 		----Colors----
// *****************************/

// Typography

$text-color: #333 !default;
$link-color: #333 !default;
$link-hover-color: #f60 !default;



$primary-orange: #f60 !default;
$primary-orange-light: lighten($primary-orange, 5%) !default;
$primary-orange-dark: darken($primary-orange, 20%) !default;

$primary-white: #fff !default;
$primary-white-light: lighten($primary-white, 20%) !default;
$primary-white-dark: #fbfbfb !default;

$primary-grey: #e7e7e7 !default;
$primary-grey-light: lighten($primary-grey, 20%) !default;
$primary-grey-dark: darken($primary-grey, 20%) !default;